[submodule "Externals/Blindside"]
	path = Externals/Blindside
	url = https://github.com/jbsf/blindside.git
[submodule "Externals/Deferred"]
	path = Externals/Deferred
	url = https://github.com/kseebaldt/deferred.git
[submodule "Externals/cedar"]
	path = Externals/cedar
	url = https://github.com/pivotal/cedar.git
